html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: black;
    position: relative;
    font-family: 'Syne Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    background: url("BackGround/backgroundfreddy.jpg") top center no-repeat, url("BackGround/backgoundimagechica.jpg") no-repeat center center, url("BackGround/backgroundgattor.jpg");
}
.anchor {
    position: static;
    transform: translateY(-20vh);
}
h1 {
    font-family: 'Neonderthaw', cursive;
    width: 90%;
    color: black;
    font-size: 100px;
    text-align: center;
    border-style: dashed;
    border-radius: 20px;
    /*neon text zde : https://css-tricks.com/how-to-create-neon-text-with-css/*/
    text-shadow: 0 0 5px #ff3c00, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    padding-bottom: 30px;
}

.opacityFadeOut{
    opacity: 0;
}

.buttonNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 5px;
    position: fixed;
    top: 20px;
    visibility: hidden;
    color: #ff8000;
    border-style: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: white;
    gap: 5px;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    z-index: 6;
}

.navbarContainer{
    position:fixed;
}

.buttonNavbar.active .bar1 {
    transform: rotate(0deg) translateY(9px);
    width: 50px;
}

.buttonNavbar.active .bar2 {
    opacity: 0;
}

.buttonNavbar.active .bar3 {
    transform: rotate(-90deg) translateX(9px);
    width: 50px;
}

.buttonNavbar.active {
    transform: rotate(-45deg);
}

.buttonNavbar:hover {
    background-color: #ff8000;
}

.navbarButtonStripe {
    background-color: black;
    display: block;
    width: 22px;
    height: 4px;
    transition: all 0.4s ease-out;
}

.even {
    width: 75%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    /*Box shadows: https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.position {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.odd {
    width: 75%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.hour {
    width: 11%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
    gap: 20px;
    font-family: 'Rubik Glitch', cursive;
}

.ball {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.textBlock {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

ul{
    list-style-type: circle;
}

.evenImage {
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    padding-left: 10px;
    opacity: 1;
}

.oddImage {
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 1;
    border-radius: 20px;
    padding-right: 15px;
}


.quote {
    color: #4E4E50;
    width: 15%;
    padding-top: 20%;
}

#navbar {
    top: 10px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: visible;
    font-family: 'Rubik Glitch', cursive;
    animation-name: fade;
    transition: all .5s ease-in-out;
    opacity: 1;
    transform: TranslateX(0px);
}

#navbar.notMoved{
    transform: TranslateX(0px);
}
#navbar.moved{
    transform: TranslateX(-2000px);
}

.navbarText .active{
    color: red;
}   

.navbarSmall {
    color: white;
    border-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 99.5vw;
    height: 99.5vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    visibility: hidden;
    transition: all 1s ease;
    font-family: 'Rubik Glitch', cursive;
    transform: TranslateX(1000px);
    font-size: 30px;
}
.navbarSmall.active a{
    font-size: 30px;
}
.navbarSmall.active{
    transform: translateX(0px);
    visibility: visible;
    overflow: hidden;
}
.navbarSmall.hidden{
    transform: translateX(1000px);
    visibility: hidden;
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

.navbar >a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
} 

.scroll {
    height: 1000px;
    width: 10px;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 250px;
    background-color: black;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: center;
}
footer > p{
    font-size: 60px;
    font-family: 'Rubik Glitch', cursive;
    background-color: orange;
    border-radius: 20px;
}
footer section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    /* padding-left: 20px; */
}
footer article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

footer article a:nth-child(3n){
    /*Gradient text: https://css-tricks.com/snippets/css/gradient-text/*/
    background: linear-gradient(#01FF70 , #DDDDDD  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-brands{
    /*Instagram color: https://codepen.io/thomasrye/pen/VaRoYv*/
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    height: 45px;
    width: 45px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-brands:hover{
    transform: scale(1.2);
    transform: rotate(45deg);
}
.gameStatus{
    width: 75%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-direction: column;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    gap: 15%;
}
.gameStatus h2{
    font-size: 20px;
    text-align: center;
}

@media(max-width: 1180px){
    footer article{
        font-size: 16px;
    }
}
@media(max-width: 980px){
    footer article{
        font-size: 14px;
    }
}

@media(max-width: 930px) {
    .hour {
        font-size: 18px;
    }

    .navbar > a {
        font-size: 18px;
    }
}

@media(min-width: 930px) {
    .hour {
        font-size: 20px;
    }
}

@media(max-width: 890px) {
    .navbar > a {
        font-size: 15px;
    }
    .gameStatus h1{
        font-size: 70px;
    }
    footer article{
        font-size: 12px;
    }
    .fa-brands{
        font-size: 30px;
        height: 32px;
        width: 32px;
    }
}
@media(max-width:820px) {
    footer section{
        gap: 20px;
    }
}

@media(max-width: 400px) {
    .navbar > a {
        font-size: 10px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 75px;
    }
}

@media(max-width: 940px) {
    .textBlock {
        font-size: 17px;
    }
}

@media(min-width: 700px) {
    main {
        width: 90%;
    }

    #navbar {
        padding: 2%;
        visibility: visible;
    }

    .buttonNavbar {
        visibility: hidden;
    }

    .navbarSmall {
        visibility: hidden;
        height: 0;
    }
}

@media(max-width: 800px){
    .oddImage {
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        padding: 0;
    }

    .evenImage {
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
    }
    .hour{
        font-size: 16px;
    }
}

@media(max-width: 700px) {
    #navbar {
        visibility: hidden;
    }

    .buttonNavbar {
        visibility: visible;
    }

    main {
        width: 100%;
        padding-bottom: 0;
        gap: 10px;
    }

    .even {
        flex-direction: column;
        height: 500px;
    }

    .odd {
        height: 500px;
        flex-direction: column-reverse;
    }

    .oddImage {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        background-position: top;
        padding: 0;
    }

    .evenImage {
        width: 96%;
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        background-position: top;
    }

    .hour {
        flex-direction: row;
        width: 100%;
        height: 10%;
        margin-top: 5%;
    }

    .textBlock {
        height: 40%;
        width: 80%;
        margin: 5%;
    }
}
@media(max-width: 610px) {
    footer article{
        font-size: 10px;
    }
}

@media(max-width: 540px) {
    .hour {
        font-size: 17px;
    }

    main {
        width: 100%;
    }
}

@media(max-width: 470px) {
    .hour {
        gap: 15px;
    }
    footer section{
        width: 90%;
    }
}

@media(max-width: 460px) {
    .gameStatus{
        gap: 5%;
    }
    .odd{
        width: 90%;
    }
    .even{
        width: 90%;
    }
    .oddImage{
        height: 100%;
    }
    .evenImage{
        height: 100%;
    }
    .textBlock{
        height: 30%;
    }
    footer{
        margin-top: 20px;
    }
    footer article{
        font-size: 12px;
        line-height: 20px;
    }
    footer a {
        font-size: 12px;
    }
    footer section{
        width: 100%;
        gap: 10px;
        padding: 0;
    }
    .ball {
        height: 15px;
        width: 25px;
    }

    main {
        width: 100%;
    }

    #navbar {
        width: 80%;
        height: 40px;
    }

    .buttonNavbar.active {
        right: 0px;
    }
    .buttonNavbar {
        right: 0px;
    }
    .navbarButtonStripe{
        height: 3px;
        width: 25px;
    }
    .textBlock {
        width: 80%;
    }

    .hour {
        gap: 15px;
    }

    .ball {
        width: 15px;
    }
}
@media (max-width: 390px){
    .textBlock {
        height: 40%;
    }
    .evenImage{
        height: 70%;
    }
    .oddImage{
        height: 70%;
    }
}
@media(max-width: 380px){
    footer article:nth-child(3){
        line-height: 25px;
    }
}
@media(max-height: 520px){
    .navbarSmall.active a{
        font-size: 20px;
    }
    .navbarSmall{
        gap: 10px;
    }
}